/* ========== Sidebar Desktop ===========*/
@media only screen and (min-width:1400px){
    .th-admin-wrapper.sidebar-close .th-admin-sidebar{
        width: 78px;
    }
    .th-admin-wrapper.sidebar-close .th-admin-sidebar .th-meunu-link span,
    .th-admin-wrapper.sidebar-close .th-admin-sidebar .th-meunu-link .arrow-btn,
    .th-admin-wrapper.sidebar-close .th-admin-sidebar .th-admin-brand-logo p{
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .th-admin-wrapper.sidebar-close .menu-block h5{
        display: none;
    }
    .th-admin-wrapper.sidebar-close .th-admin-content{
        width: calc(100% - 78px);
    }
}
/* ========== Sidebar Mobile  ===========*/
@media only screen and (max-width:1500px){
    .th-admin-block{
        min-height: 230px;
    }
}
@media only screen and (max-width:1400px){
    .th-admin-wrapper .th-admin-sidebar{
        left: -100%;
        transition: all .3s ease;
    }    
    .th-admin-wrapper.sidebar-close .th-admin-sidebar{
        left: 0%;
        transition: all .3s ease;
    }
    .th-admin-wrapper .th-admin-content{
        width: 100%;
    }
} 
@media only screen and (max-width:1200px){
    .dashboard-write-content{
        display: flex;
        gap: 10px;
    }
    .dashboard-write-content>div{
        width: 50%;
    }
}
@media only screen and (max-width:1100px){
    .th-admin-wrapper .th-admin-content{
        width: 100%;
    }
    .th-admin-sidebar{
        left: -100%;
    }
}
@media only screen and (max-width:768px){
    .dashboard-write-content{
        flex-direction: column;
    }
    .dashboard-write-content>div{
        width: 100%;
    }
    .morning-img img{
        right: 0;
        width: 226px;
        z-index: -1;
    }
}
@media only screen and (max-width:575px){
    .facilities-wrap{
        flex-direction: column;
    }
    .facilities-item-wrap{
        width: 100%;
    }
    .employer_notification-dropdown .profile-dropdown{
        width: 320px;
        right: -70px;
    }
    .profile-dropdown li a{
        flex-direction: column;
    }
    .top-text-heading{
        max-width: 100%;
        font-size: 13px;
    }
    .top-text-light{
        font-size: 12px;
    }
    .top-text-heading,
    .top-text-light{
        width: 100%;
    }
    .top-text-light{
        text-align: end;
    }
    .auth-form{
        padding: 50px 20px;
    }
}