@import url("./branding.css?v=0.1");
/* =============== Admin Main ============= */
.th-admin{
  height: 100%;
}
.th-admin-wrapper{
  display: flex;
}
/* =============== Admin Sidebar ============= */
.th-admin-sidebar{
  width: 300px;
  background-color: #fff;
  height: 100%;
  position: fixed;
  top: 0;   
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 999;
  -ms-overflow-style: none;
}
.th-admin-content{
  width: calc(100% - 300px);
  margin-left: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-top: 90px;
  background-color: #F8F2EC;
  width: calc(100% - 300px);
  min-height: 100vh;
}
.th-admin-sidebar ::-webkit-scrollbar {
  width: 6px;
  box-shadow: none;
}
.th-admin-sidebar ::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: none;
}
.th-admin-sidebar ::-webkit-scrollbar-thumb {
  background-color: #bbbdc461;
  box-shadow: none;
  border-radius: 5px;
}
.th-admin-brand-logo{
  display: flex;
  align-items: baseline;
  gap: 11px;
  background-color: #fff;
  height: 76px;
  padding-top: 24px !important;
  padding-left: 28px;
  padding-right: 10px;
}
.th-admin-brand-logo img{
  width: 25px;
  height: 25px;
}
.th-admin-brand-logo p{
  font-size: 20px;
  font-weight: 600;
  color: var(--th-primary-color);
}
.th-admin-menu{
  list-style: none;
  overflow-y: auto;
  height: calc(100% - 60px);
}
.th-meunu-link{
  border-radius: .375rem;
  padding: .625rem 12px;
  background-color:transparent;
  display: flex;
  align-items: center;
  gap: 7px;
  width: 100%;
  transition: all .2s ease-in;
  position: relative;
  min-height: 46px;
}
.th-meunu-link i{
  color: var(--th-sidebar-text);
  text-align: center;
  width: 20px;
  transition: all .2s ease;
}
.th-meunu-link span{
  color: var(--th-sidebar-text);
  font-size: 15px;
  font-weight: 500;
  transition: all .2s ease;
}
.th-sidebar-menu .th-meunu-link span{
  position: absolute;
  left: 44px;
}
.th-meunu-link:hover span,
.th-meunu-link:hover i{
  color: var(--th-primary-color);
}
.arrow-btn{
  margin-left: auto;
}
.arrow-btn i{
  font-size: 13px;
  text-align: right;
}
.submenu-dropdown{
  position: relative;
}
.submenu-dropdown:after{
  content: "";
  height: 92%;
  width: 1px;
  background-color: #bbbdc461;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.submenu-dropdown li{
  list-style: none;
}
.sidebar-submenu,
.sidebar-submenu-level-2,
.sidebar-submenu-level-3{
  padding-left: 27px;
  display: none;
}
.submenu-dropdown .th-meunu-link span{
  font-size: 14px;
  position: unset;
}
.submenu-dropdown .th-meunu-link i{
  font-size: 10px;
}
.submenu-dropdown .th-meunu-link{
  padding: .425rem 12px;
  gap: 5px;
}
.menu-block h5{
  color: var(--th-primary-color);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  padding-left: 15px;
  margin: 20px 0;
  white-space: nowrap;

}
.th-admin-wrapper.sidebar-close .toggle-sidebar{
  background-color: var(--th-primary-color);
}
.th-admin-wrapper.sidebar-close .toggle-sidebar i{
  color: #fff;
}

/* =============== Admin Header ============= */
.th-admin-header{
  position: fixed;
  top: 0;
  z-index: 100;
  width: -webkit-fill-available;
}
.th-admin-header-inner{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 17px 10px 17px 14px;
  border-radius: 0px;
}
.th-header-actions{
  display: flex;
  align-items: center;
  gap: 10px;
}
.toggle-sidebar{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #C3D4E9;
}
.toggle-sidebar i{
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.employer_profile-dropdown, .employer_notification-dropdown{
  position: relative;
}
.notification{
  border: 1px solid #C3D4E9;
  background-color: transparent;
  position: relative;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  top: -2px;
  right: 3px;
}
.w-40-rounded{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
.employer_notification-dropdown .genral-icon{
  cursor: pointer;
}
.profile-dropdown{
  background-color: #fff;
  box-shadow: 0 0 45px 0 rgba(131, 23, 254, 0.06);
  border-radius: 7px;
  padding: 12px;
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
  max-width: 200px;
  display: none;
}
.employer_notification-dropdown .profile-dropdown{
  top: 40px;
}
.profile-dropdown li{
  background-color: #f4f4f4;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 6px;
  transition: all .3s ease-in-out;
  list-style: none;
}
.profile-dropdown li:last-child{
  margin-bottom: 0;
}
.profile-dropdown li a{
  color: #333;
  font-size: var(--theme-font16);
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.profile-dropdown li i{
  color: #7D7D7D;
}
.profile-dropdown li:hover{
  background-color: var(--th-bg-black);
}
.profile-dropdown li:hover a, .profile-dropdown li:hover i{
  color: #fff;
}
.employer_profile-dropdown{
  border: 1px solid #C3D4E9;
  background-color: transparent;
  position: relative;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.employer_profile-dropdown-inner{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  width: 100%;
}
.employer_profile-dropdown-inner p{
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  min-width: 39px;
  max-width: 145px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block !important;
}
.employer_profile-dropdown .profile-dropdown{
  width: 300px;
  max-width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  padding-left: 0;
  padding-right: 0;
  padding-top: 20px;
}
.employer_notification-dropdown .profile-dropdown{
  width: 450px;
  max-width: 450px;
  max-height: 400px;
  overflow-y: auto;
}
.profile-dropdown li a{
  justify-content: space-between;
}
.top-text-heading{
  max-width: 240px;
}
.greeting{
  padding: 10px 30px 5px 30px;
}
.profile-dropdown_name-area h2{
  font-size: 24px;
  line-height: 33px;
}
.profile-dropdown_links{
  background: #F5F6FA;
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
.sign-out{
  padding: 16px 30px 10px 30px;
}

/* ============  th-admin-block ======== */
.th-admin-content-inner{
  padding: 20px 20px;
}
.th-admin-block{
  background-color: #fff;
  border-radius: var(--th-radius-20);
  padding: 30px 30px;
  transition: all .3s ease;
}
.th-admin-block h3{
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0px 0 0;
}
.th-admin-block p{
  font-size: 12px;
  margin: 0;
  color: #6c757d;
}
.th-admin-block.chart-block{
  background-color: #fff;
}
.th-admin-block-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*============ PROPERTY CARD ============= */
.property-card-images {
  position: relative;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.property-card-imag-item {
  width: 100%;
  height: 270px;
  display: block;
  border-radius: var(--th-radius-5);
}
.property-card-imag-item img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: var(--th-radius-5);
}
.location-wrap {
  display: flex;
  align-items: center;
  gap: 4px;
}
.location-wrap img {
  width: 17px !important;
  height: 21px !important;
  object-fit: cover;
}
.location-wrap p {
  font-size: var(--th-font14);
  color: var(--th-bg-black);
}
.property-other-detail {
  border-bottom: 1px solid #e8e8e8;
}
.property-other-detail h3 {
  font-size: 20px;
  color: var(--th-bg-black);
}
.property-other-detail p {
  font-size: var(--th-font14);
}
.property-price-and-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.property-price h4{
  font-size: 17px;
}
.property-specs {
  display: flex;
  align-items: center;
  gap: 10px;
}
.spec-item {
  display: flex;
  align-items: center;
  gap: 2px;
}
.spec-item img {
  width: 24px !important;
  height: 28px !important;
  object-fit: cover;
}
.spec-item span {
  display: block;
}
/*=========== Welcome Bar ===========*/
.welcome-block{
  background-color: #ffedd1;
  border-radius: var(--th-radius-10);
  position: relative;
  z-index: 9;
}
.welcome-block:before {
  content: "";
  position: absolute;
  background-image: url(../img/bg-img-01.png);
  background-repeat: no-repeat;
  background-position: top right;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.morning-img img {
  position: absolute;
  bottom: 0;
  right: 100px;
  height: 190px;
}
.morning-user {
  padding: 25px 0 25px 35px;
}
.morning-user h2 {
  color: #FF9F0F;
}
/*========== Icon Wrap ============ */
.icon-wrap {
  border-radius: var(--th-radius-50);
  color: var(--th-primary-color);
  border: 1px solid var(--th-primary-color);
  display: block;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 70px;
  height: 70px;
  transition: all 0.3s ease;
  background-color: var(--th-primary-color);
}
.icon-wrap i {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color:#fff;

}

/*========= Action Dropdown ========= */
.action-dropdown-wrap{
  position: relative;
}
.action-dropdown-wrap i{
  width: 30px;
  height: 20px;
  background-color: #3b4cb81a;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}
.action-dropdown-wrap.vertical i{
  width: 20px;
  height: 30px;
}
.action-dropdown{
  visibility: hidden;
  opacity: 0;
  transition: 0.1s all ease;
  min-width: 120px;
  max-width: 170px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  position: absolute;
  left: 0px;
  top: 24px;
  background: #fff;
  border: 0;
  border-radius: .75rem;
  box-shadow: 0 0 3.125rem 0 #523f6926;
  font-size: inherit;
  margin-top: 0;
  overflow: hidden;
  z-index: 99;
  width: 100%;
  padding: 12px 12px;
  text-align: left;
}
.action-dropdown.active {
  visibility: visible;
  opacity: 1;
  /* transform-origin: 100% 0px;
  transform: scaleX(1) scaleY(1); */
}
.action-dropdown li{
  list-style: none;
}
.action-dropdown li a{
  display: block;
  padding: 3px 5px;
  font-size: 12px;
}
.action-dropdown li:hover{
  background-color: #f4f4f4;
  border-radius: 4px;
}
td .action-dropdown{
  left: -32px;
}

/*========= Bootstrap Dropdown ========= */

.dropdown-menu{
  border: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding:10px;
}
.dropdown-item{
  border-radius: var(--th-radius-5);
  font-size: var(--th-font14);
}
/*========= Checkboxs CSS ==========*/
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .toogle-checkbox{
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .toogle-checkbox input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .toogle-checkbox input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .toogle-checkbox input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .toogle-checkbox input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .toogle-checkbox input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .toogle-checkbox input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .toogle-checkbox input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .toogle-checkbox input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .toogle-checkbox input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .toogle-checkbox input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .toogle-checkbox input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .toogle-checkbox input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }
  .toogle-checkbox input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .toogle-checkbox input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .toogle-checkbox input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  .toogle-checkbox input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  .toogle-checkbox input[type=checkbox].switch:after {
    left: 2px;
    top: 1px;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  .toogle-checkbox input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  .toogle-checkbox input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}
.toogle-checkbox * {
  box-sizing: inherit;
}
.toogle-checkbox *:before,
.toogle-checkbox *:after {
  box-sizing: inherit;
}
/* outline checkbox */
.outline-checkbox {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #5F11E8;
  --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
  --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(.11,.29,.18,.98);
}
.outline-checkbox .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.outline-checkbox .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.outline-checkbox .checkbox + .checkbox {
  margin-top: var(--s-small);
}
.outline-checkbox .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.5em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.outline-checkbox .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.outline-checkbox .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}
.outline-checkbox .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}
.outline-checkbox .checkbox__textwrapper {
  margin: 0;
}
.outline-checkbox .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
          animation: ripple-33 1.5s var(--e-out);
}
.outline-checkbox .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}
.outline-checkbox .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}
@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}
/* Circle checkbox */
.circle-checkbox .round {
  position: relative;
}
.circle-checkbox .round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: block;
}
.circle-checkbox .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
}
.circle-checkbox .round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
}
.circle-checkbox .round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}
.circle-checkbox .round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/*=========== th-box ==============*/
.th-box{
  background-color: #fff;
  border-radius: var(--th-radius-10);
}
.th-box-header{
  background-color: var(--th-primary-color);
  padding: 15px 20px; 
  border-radius: var(--th-radius-10) var(--th-radius-10) 0 0;
}
.th-box-content{
  border-radius: 0px 0px var(--th-radius-10) var(--th-radius-10);
  padding: 20px; 
}

/*=========== Bootstap tabs ==========*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: var(--th-primary-color);
  border-radius: 0;
}
.nav.nav-pills{
  gap: 10px;
}
.nav-pills .nav-link{
  background-color: #f4f4f4;
  color: #000000;
  border-radius: 0;
  font-size: var(--th-font15);
}
.nav.nav-tabs .nav-link{
  color: #000;
  font-size: var(--th-font15);
}
.nav.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: var(--th-primary-color);
}
/*=========== Checkbox Wrap ==============*/
.feature-inner-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.feature-inner-wrap label{
  font-weight: 400 !important;
  font-size: 13px !important;
}
.facilities-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.facilities-item-wrap{
  width: calc(50% - 10px);
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.facilities-item-wrap input{
  width: 150px;
}


/*============= Sign In Page ============*/
.page-wrapper{
  min-height: 100vh;
  background-color: #EEEEEE;
}
.authincation{
  height: 100vh;
}
.authincation-content {
  background: #fff;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
  border-radius: 5px;
}
.authincation .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.auth-form{
  padding: 50px 50px;
}